<!DOCTYPE html>
<html>
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://kit.fontawesome.com/e79058ee62.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="../style.css">

	<title></title>
</head>
<body>


	<div id="header" class="bgimg">
		<h1>Barış Ayyıldız</h1>

		<span class="social-media-icon">
			<a href="https://github.com/barisayyildiz" style="color : black;"><i class="fab fa-github-square"></i></a>
		</span>
		<span class="social-media-icon" style="color : #2867B2;">
			<a href="https://tr.linkedin.com/in/bar%C4%B1%C5%9F-ayy%C4%B1ld%C4%B1z-627704174"><i class="fab fa-linkedin"></i></a>
		</span>
		<br>
		<br>
		<span id="create">
			<a href="../form/">Create a post...</a>
		</span>

	</div>


	<div id="main">
		

		{{{body}}}


	</div>



	<script type="text/javascript" src="../script.js"></script>

</body>
</html>
