/*---------------HEADER---------------*/

body
{
	font-family: "Verdana";
}

#header
{
	color: white;
	text-align: center;
	font-family: "Verdana";
	background-image: url(image.png);
	background-size: cover;
	padding: 70px 0px;
}


.social-media-icon
{
	font-size: 2.5em;
}

.social-media-icon a
{
	color: inherit;
}

#create
{
	color: inherit;
	font-size: 1.5em;
	font-style: italic;
}

a
{
	color: inherit;
	text-decoration: none;
}


/*---------------ENTRIES---------------*/

#main
{
	text-align: center;
}

.list-group
{
	width: 50%;
	margin: 20px auto;
}

.list-group-item
{
	border: none;
	border-bottom: 1px solid grey;
	border-width: thin;
}

.text
{
	padding: 50px 15px;
	word-wrap: break-word;
	white-space: pre-wrap;
}
